---
layout: default
---
<!-- Posts -->
<ul id="posts">

	{% for post in paginator.posts %}

	  <div class="article">
	<li class="post">
	  	<h1><a href="{% if site.baseurl == "/" %}{{ post.url }}{% else %}{{ post.url | prepend: site.baseurl }}{% endif %}">{{ post.title }}</a></h1>
	  	<time datetime="{{ post.date | date_to_xmlschema }}" class="by-line">{{ post.date | date_to_string }}</time>
	  	<p>{{ post.content | strip_html | truncatewords:50 }}</p>
	  </li>
	</div>  

    {% endfor %}

</ul>


<div>

<!-- Search input field -->
  <div class="main-search form-group mb-0 border-bottom">
  <div class="input-group">
    <input id="search" name="main_input" class="form-control border-0" placeholder="press / to search" type="text">
    <div class="input-group-append">
      <span class="input-group-text border-0"><i class="fa fa-search" aria-hidden="true"></i></span>
    </div>
  </div>
</div>

<!-- Search result container -->
<div class="search-results position-absolute">
      <ul id="results" class="search-results-ul card shadow border border-top-0">
      </ul>
</div>


