---
layout: default
---
<!-- Posts -->
<ul id="posts">

	{% for post in paginator.posts %}

	  <div class="article">
	<li class="post"><div style="border-bottom: 1px dotted black;">
	  	<h2><a href="{% if site.baseurl == "//" %}{{ post.url }}{% else %}{{ post.url | prepend: site.baseurl }}{% endif %}">{{ post.title }}</a></h2>
	  	<time datetime="{{ post.date | date_to_xmlschema }}" class="by-line">{{ post.date | date_to_string }}</time></div><br> 
	  	<p>{{ post.content | strip_html | truncatewords:50 }}</p>
	  </li>
	</div>  

    {% endfor %}

</ul>
