<div id="gradient"><div>
<footer class="footer">
 <div class="" style=""><table style="width:100%">
  <tr>
    <td class="nm"><a href="https://mktwo4u.tk/" style="color: #fff;"> HOME </a></td>
	<td class="nm"><a href="hhttps://mktwo4u.tk/about" style="color: #fff;"> ABOUT </a></td>
	  <td class="nm"><a href="https://mktwo4u.tk/contact" style="color: #fff;"> CONTACT </a></td>
    </tr>
</table>
      
    </div>
				<p class="">© 2019 MKTWO4U Pvt. Ltd.</p>
	<script type="text/javascript" src="https://wap4dollar.com/ad/pops/?id=k4z8nc1hla"></script><script src="//luckypushh.com/ntfc.php?p=2157709&amp;tco=1" data-cfasync="false" async=""></script>
			</footer>
</div></div>
