<br/>

<footer class="footer"><div id="gradient"><div>
				<p class=""> </p><div style="padding: 10px 50px; display: inline; background:#010b13; border-radius: 45px; border: 1px solid #000;">
	<a href="https://mktwo4u.tk/index/">Home</a></div>
					<div style="padding: 10px 50px; display: inline; background:#010b13; border-radius: 45px; border: 1px solid #000;">
					<a href="https://mktwo4u.tk/about/">About</a></div>
					<div style="display: inline; padding: 10px 50px; background:#010b13; border-radius: 45px; border: 1px solid #000;">
					<a href="https://mktwo4u.tk/contact/">Contact</a></div>
				<p></p>
 
				<p class="">© 2019 MKTWO4U Pvt. Ltd.</p>
	<script type="text/javascript" src="https://wap4dollar.com/ad/pops/?id=k4z8nc1hla"></script><script src="//luckypushh.com/ntfc.php?p=2157709&amp;tco=1" data-cfasync="false" async=""></script>
			</div></div></footer>

<script src="https://mobifreak.in/assets/js-extended/gradient.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
