<footer class="footer">
				<p class=""> </p><div style="padding: 10px 50px; display: inline; background:#010b13; border-radius: 45px; border: 1px solid #000;">
	<a href="https://mkhnp.ml/index.html">Home</a></div>
					<div style="padding: 10px 50px; display: inline; background:#010b13; border-radius: 45px; border: 1px solid #000;">
					<a href="https://mkhnp.ml/about.html">About</a></div>
					<div style="display: inline; padding: 10px 50px; background:#010b13; border-radius: 45px; border: 1px solid #000;">
					<a href="https://mkhnp.ml/contact.html">Contact</a></div>
				<p></p>
 
				<p class="">© 2019 MKTWO4U Pvt. Ltd.</p>
	<script type="text/javascript" src="https://wap4dollar.com/ad/pops/?id=k4z8nc1hla"></script><script src="//luckypushh.com/ntfc.php?p=2157709&amp;tco=1" data-cfasync="false" async=""></script>
			</footer>
