<div id="container" align="left">
<header id="header">
	<a href="https://mkhnp.ml/index.html">
		<h1><font color="#fff"><b>MkWorld</b></font></h1>
	</a>		
</header>
	<div align="right" style="padding-bottom: 5px;">
	<form action="/search.html" method="get">
  <label for="search-box"></label>
  <input type="text" id="search-box" name="query" value="b">
  <input type="submit" value="search">
</form></div>
</div>

	<script src="https://mobifreak.in/assets/js-extended/gradient.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
