<div style="background:#010b13;">
	<div align="left" id="container">
	
<header id="header">

	<a href="https://mkhnp.ml/index.html">
	
		<h1><font color="#fff"><b>MkWorld</b></font></h1>
		
	</a>
	
	

</header>

</div>
</div>





<nav class="sticky-top">
  <div class="" style="background-color: #2b2b2b;"><table style="width:100%">
  <tr>
    <td style="background:#010b13; border-radius: 45px; width: 10%; border: 1px solid #000; font-weight: bold; color: #fff; text-align: center; padding: 10px;"><a href="https://bdmilan.github.io/mk/" style="color: #fff;"> HOME </a></td>
    <td style="background:#010b13; border-radius: 45px; width: 10%; border: 1px solid #000; font-weight: bold;color: #fff; text-align: center; padding: 10px;"><a href="tv.html" style="color: #fff;"> TV </a></td>
    <td style="background:#010b13; border-radius: 45px; width: 10%; border: 1px solid #000; font-weight: bold;color: #fff; text-align: center; padding: 10px;"><a href="ftp.html" style="color: #fff;"> FTP </a></td>
	<td style="background:#010b13; border-radius: 45px; width: 10%; border: 1px solid #000; font-weight: bold;color: #fff; text-align: center; padding: 10px;"><a href="movie.html" style="color: #fff;"> MOVIE </a></td>
	  <td style="background:#010b13; border-radius: 45px; width: 10%; border: 1px solid #000; font-weight: bold;color: #fff; text-align: center; padding: 10px;"><a href="forum.html" style="color: #fff;"> FORUM </a></td>
         <td style="background:#010b13; border-radius: 45px; width: 20%; border: 1px solid #000; font-weight: bold;color: #fff; text-align: center; padding: 10px;"><form action="/search.html" method="get">
  <label for="search-box"></label>
  <input type="text" id="search-box" name="query" value="b">
  <input type="submit" value="search">
</form></td>
	  
  </tr>
</table></b>
      
    </div>
</nav>

